# Manager

PROXY_URLS=

MANAGER_HOST=
MANAGER_PORT=

MONGODB_URL=
REDIS_URL=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# Worker

WORKER_ID=

MANAGER_URL=

USER_AGENT=

# Shared

RABBITMQ_URL=
